{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.authentication.login.index.url ~ query}}" method="post">
                <div class="block">
                    <label for="email">Email</label>
                    <input type="email"
                           id="email"
                           name="email"
                           minlength="3"
                           maxlength="254"
                           required>
                </div>
                <div class="block">
                    <label for="password">Password</label>
                    <input type="password"
                           id="password"
                           name="password"
                           minlength="4"
                           maxlength="30"
                           required>
                </div>

                <button type="submit" class="main">Log in</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <li><a href="{{ modules.authentication.sign_up.index.url }}">Do you need an account?</a></li>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}