@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  background-color: lightgray;
  background-image: url("../images/pattern.jpg");
  color: #333;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 0;
}

#header {
  padding: 10px;
  text-align: center;
  background-color: #333;

  a {
    color: white;
  }
}

#main {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 200px auto;
  padding: 10px;

  #favorites {
    .card {
      background-color: lightgoldenrodyellow;
    }
  }

  .card {
    .stats {
      display: none;
    }
    .quirks {
      display: none;
    }
  }
}

#detail {
  padding: 10px;

  .card {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
}

.header {
  padding: 10px 0;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px darkgray;
  display: inline-block;
  margin: 5px;
  padding: 20px;
  width: 150px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .image {
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    img {
      width: 100%;
    }

    .favorite {
      display: block;
      font-size: 30px;
    }
  }

  header {
    margin-top: 10px;

    p {
      font-weight: bold;
      color: rgba(0,0,0,0.5);
    }

    h3 {
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    li {
      display: inline-block;
    }
  }

  section {
    margin-top: 10px;
  }

  .stats {
    span {
      border-radius: 5px;
      display: block;
      height: 20px;
    }

    span {
      background-color: rgba(0,0,0,0.05);

      span {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }

  .tag {
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 12px;
    margin: 1px;
    padding: 5px 15px;

    &.bug {background-color: darkolivegreen}
    &.dark {background-color: saddlebrown}
    &.dragon {background-color: rebeccapurple}
    &.electric {background-color: orange}
    &.fairy {background-color: hotpink}
    &.fighting {background-color: darkred}
    &.fire {background-color: orangered}
    &.flying {background-color: mediumpurple}
    &.ghost {background-color: blueviolet}
    &.grass {background-color: limegreen}
    &.ground {background-color: burlywood}
    &.ice {background-color: lightskyblue}
    &.normal {background-color: olivedrab}
    &.poison {background-color: mediumvioletred}
    &.psychic {background-color: deeppink}
    &.rock {background-color: darkgoldenrod}
    &.steel {background-color: lightsteelblue}
    &.water {background-color: royalblue}
  }
}

.card:hover .options {
  visibility: visible;
}

.notification {
  background-color: lightblue;
  padding: 10px;
}



