{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            {{ include('Pets/Views/Profile/pet.part.html.twig') }}
        </section>
    </main>
{% endblock %}