{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.pets.profile.new.url ~ userId }}" method="post">
                <div class="block">
                    <label for="name">Name*</label>
                    <input type="text"
                           id="name"
                           name="name"
                           minlength="2"
                           maxlength="30"
                           value="{{ pet.name }}"
                           required>
                </div>
                <div class="block">
                    <label for="typeId">Type*</label>
                    <select id="typeId" name="typeId">
                        {% for petType in petTypes %}
                            <option value="{{ petType.id }}" {% if pet.typeId == petType.id %} selected{% endif %}>
                                {{ petType.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="block">
                    <label for="birth_at">Birth at</label>
                    <input type="date"
                           id="birth_at"
                           name="birthAt"
                           value="{{ pet.birthAt }}">
                </div>
                <button type="submit" class="main">Create pet</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <li><a href="{{ modules.users.pets.list.url ~ userId }}">Cancel</a></li>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}