<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for pet in pets %}
            <tr>
                <td><a href="{{ modules.pets.profile.show.url ~ pet.id }}">{{ pet.name }}</a></td>
                <td>
                    <ul class="list clean inline">
                        {% if checkAccessControl(modules.pets.profile.edit, pet.ownerId) %}
                        <li><a href="{{ modules.pets.profile.edit.url ~ pet.id }}">Edit</a></li>
                        {% endif %}
                        {% if checkAccessControl(modules.pets.profile.delete, pet.ownerId) %}
                        <li><a class="deleteAction" href="{{ modules.pets.profile.delete.url ~ pet.id }}">Delete</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>