{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block aside %}
    {{ include('Pets/Views/aside.html.twig') }}
{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.pets.profile.edit, pet.ownerId) %}
                    <li><a href="{{ modules.pets.profile.edit.url ~ pet.id }}">Edit profile</a></li>
                    {% endif %}
                </ul>
            </header>

            <table>
                <tbody>
                    <tr>
                        <th>Picture:</th>
                        <td>
                            {% if pet.picture %}
                                <img class="picture" src="{{'/public/uploads/' ~ pet.picture }}"/>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>ID:</th>
                        <td>{{ pet.id }}</td>
                    </tr>
                    <tr>
                        <th>Owner:</th>
                        <td><a href="{{ modules.users.profile.show.url ~ pet.ownerId }}">{{ pet.ownerName }}</a></td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>{{ pet.name }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ pet.type }}</td>
                    </tr>
                    <tr>
                        <th>Birth at:</th>
                        <td>{{ pet.birthAt }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}