<table>
    <thead>
    <tr>
        <th>Datetime</th>
        <th>Client</th>
        <th>Pet</th>
        <th>Groomer</th>
        <th>Pictures</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.datetime|date("m/d/Y - H:i a") }}</td>
            <td><a href="{{ modules.users.profile.show.url ~ appointment.clientId }}">{{ appointment.clientName }}</a></td>
            <td><a href="{{ modules.pets.profile.show.url ~ appointment.petId }}">{{ appointment.petName }}</a></td>
            <td><a href="{{ modules.users.profile.show.url ~ appointment.employeeId }}">{{ appointment.employeeName }}</a></td>
            <td>
                <ul class="list clean inline">
                    {% if appointment.pictureBefore %}
                        <li><a href="{{ '/public/uploads/' ~ appointment.pictureBefore }}">Before</a></li>
                    {% endif %}
                    {% if appointment.pictureAfter %}
                        <li><a href="{{ '/public/uploads/' ~ appointment.pictureAfter }}">After</a></li>
                    {% endif %}
                </ul>
            </td>
            <td>
                <ul class="list clean inline">
                    {% if checkAccessControl(modules.appointments.default.edit) %}
                    <li><a href="{{ modules.appointments.default.edit.url ~ appointment.id }}">Edit</a></li>
                    {% endif %}
                    {% if checkAccessControl(modules.appointments.default.manage) %}
                    <li><a href="{{ modules.appointments.default.manage.url ~ appointment.id }}">Manage</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>