{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.appointments.default.edit.url ~ appointment.id }}" method="post">
                <div class="block">
                    <label for="employee">Groomer*</label>
                    <select id="employee" name="employeeId">
                        <{% for employee in employees %}
                        <option value="{{ employee.id }}" {% if appointment.employeeId == employee.id %} selected{% endif %}>
                            {{ employee.firstName }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="block">
                    <label for="pet">Pet*</label>
                    <select id="pet" name="petId">
                        {% for pet in pets %}
                            <option value="{{ pet.id }}" {% if appointment.petId == pet.id %} selected{% endif %}>
                                {{ pet.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="block">
                    <label for="datetime">Datetime*</label>
                    <input type="datetime-local"
                           id="datetime"
                           name="datetime"
                           value="{{ appointment.datetime|date("Y-m-d") }}T{{ appointment.datetime|date("H:i") }}"
                           required>
                </div>

                <button type="submit" class="main">Update</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <li><a href="{{ modules.appointments.default.list.url }}">Cancel</a></li>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}