{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.appointment.default.manage.url ~ appointment.id }}" method="post" enctype="multipart/form-data">
                <div class="block">
                    <label for="pictureBefore">Picture before*
                        {% if appointment.pictureBefore %}
                            <a href="{{'/public/uploads/' ~ appointment.pictureBefore }}"><i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                    </label>
                    <input type="file"
                           id="pictureBefore"
                           name="pictureBefore">
                </div>
                <div class="block">
                    <label for="pictureAfter">Picture after*
                        {% if appointment.pictureAfter %}
                            <a href="{{'/public/uploads/' ~ appointment.pictureAfter }}"><i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                    </label>
                    <input type="file"
                           id="pictureAfter"
                           name="pictureAfter">
                </div>

                <button type="submit" class="main">Save</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <li><a href="{{ modules.users.appointments.list.url ~ appointment.clientId}}">Cancel</a></li>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}