{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.appointments.default.new.url }}" method="post">
                <div class="block">
                    <label for="employee">Groomer*</label>
                    <select id="employee" name="employeeId">
                        <{% for employee in employees %}
                        <option value="{{ employee.id }}" {% if appointment.employeeId == employee.id %} selected{% endif %}>
                            {{ employee.firstName }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="block">
                    <label for="pet">Pet*</label>
                    <select id="pet" name="petId">
                        {% for pet in pets %}
                        <option value="{{ pet.id }}" {% if appointment.petId == pet.id %} selected{% endif %}>
                            {{ pet.name }}
                        </option>
                        {% endfor %}
                    </select>
                    <a href="{{ modules.pets.profile.new.url ~ clientId }}">New pet</a>
                </div>
                <div class="block">
                    <label for="datetime">Datetime*</label>
                    <input type="datetime-local"
                           id="datetime"
                           name="datetime"
                           value="{{ appointment.datetime }}"
                           required>
                </div>

                <button type="submit" class="main">Make appointment</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <li><a href="{{ modules.users.appointments.list.url ~ clientId }}">Cancel</a></li>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}