{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block aside %}
    {{ include('Users/Views/aside.html.twig') }}
{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.pets.profile.new, userId) %}
                    <li><a href="{{ modules.pets.profile.new.url ~ userId }}">New pet</a></li>
                    {% endif %}
                </ul>
            </header>

            {{ include('Pets/Views/Profile/pet.part.html.twig') }}
        </section>
    </main>
{% endblock %}