@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

body {
    margin: 0;
    padding: 100px;
    color: #5f6d76;
    font-family: 'Homemade Apple', cursive;
    background-color: #e3d9b2;
    background-image: url("images/paper_background.png");
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    text-shadow: -4px 0 #e3d9b2, 0 4px #e3d9b2, 4px 0 #e3d9b2, 0 -4px #e3d9b2;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    line-height: 1em;
}

p {
    font-size: 1em;
    line-height: 1.7em;
}

ul p, ol p {
    margin: 0;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: trad-chinese-informal;
}

hr {
    border: 0;
    height:5px;
    background-image: url("images/hr.png");
    background-repeat: no-repeat;
    background-position: center;
}

#header header {
    padding: 10px;
    text-align: center;
    background-image: url("images/clouds_pattern_background.png");
}

#header h1 {
    position: relative;
    line-height: 1em;
    z-index: 1;
}

#header header img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
}

#content main {
    padding: 20px;
}

#content main section:first-child {
    background-image: url("images/seal_watermark.png");
    background-repeat: no-repeat;
    background-position: center;
}

#container {
    position: relative;
    width: 800px;
    margin: 0 auto;
    display: table;
}

#awards {
    background-image: url("images/dragon_watermark.png");
    background-repeat: no-repeat;
    background-position: right top;
}

ul.inline {
    padding-left: 0;
}

ul.inline li {
    display: inline;
}

ul.inline li:after {
    margin-right: 1em;
    content: ",";
}

.table {
    display: table;
    width: 100%;
}

.table .tr {
    display: table-row;
}

.table .td {
    display: table-cell;
}

.horizontal_deco {
    height: 100px;
    background-image: url("images/border_pattern_horizontal.png");
    background-repeat: repeat-x;
    background-position: center;
}

.vertical_deco {
    width: 100px;
    background-image: url("images/border_pattern_vertical.png");
    background-repeat: repeat-y;
    background-position: center;
}

.corner_deco {
    height: 100px;
    width: 100px;
    background-image: url("images/border_pattern_corner.png");
    background-repeat: no-repeat;
    background-position: center;
}

.seal_deco {
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 245px;
    background-image: url("images/seal_deco.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.seal_deco.top {
    top: 120px;
    right: -80px;
}

.seal_deco.bottom {
    bottom: -80px;
    left: 120px;
}