{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block aside %}
    {{ include('Pets/Views/aside.html.twig') }}
{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.appointments.default.new) %}
                    <li><a href="{{ modules.appointments.default.new.url }}">New appointment</a></li>
                    {% endif %}
                </ul>
            </header>

            {{ include('Appointments/Views/Gallery/gallery.part.html.twig') }}
        </section>
    </main>
{% endblock %}