<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Acicalado | {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/public/images/paw_icon.png" />
        <link rel="stylesheet" href="/public/css/all.min.css">
        <link rel="stylesheet/less" type="text/css" href="/public/css/styles.less" />
        <script src="/public/js/less.min.js"></script>
        <script src="/public/js/jquery-3.3.1.min.js"></script>
        <script src="/public/js/scripts.js"></script>
    </head>
    <body id="{{ uid }}">

        <div id="modal">
            <div>
                <header></header>
                <section></section>
                <button id="acceptAction">Accept</button>
                <button id="cancelAction">Cancel</button>
            </div>
        </div>

        {% if response %}
            <div class="toast
                {% if response.code == 0 %}error{% endif %}
                {% if response.code == 1 %}message{% endif %}">
                {{ response.message }}
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>