{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <header id="body_header">
        <h1><a class="logo" href="/"><span><span></span><span></span><span></span><span></span>a</span>cicalado</a></h1>
    </header>

    <main>
        <h2>{{ message }}</h2>
        <a class="button" href="{{ referer }}">Go back</a>
    </main>

    <footer>
        © 2018 Acicalado
    </footer>
{% endblock %}