{% extends "base.html.twig" %}

{% block body %}
    <header id="body_header">
        <div>
            <h1><a class="logo" href="/" title="Go to acicalado.com"><span><span></span><span></span><span></span><span></span>a</span>cicalado</a></h1>

            <nav id="app_menu">
                <ul class="list clean inline">
                    {% if checkAccessControl(modules.appointments.gallery.list) %}
                    <li><a href="{{ modules.appointments.gallery.list.url }}" title="Take a look to our work!">Gallery</a></li>
                    {% endif %}
                    {% if checkAccessControl(modules.users.groomers.list) %}
                    <li><a href="{{ modules.users.groomers.list.url }}" title="Get to know us!">Groomers</a></li>
                    {% endif %}
                    {% if checkAccessControl(modules.appointments.default.new) %}
                    <li><a href="{{ modules.appointments.default.new.url }}" title="Try us out!">Make an appointment</a></li>
                    {% endif %}
                    {% if checkAccessControl(modules.appointments.default.list) %}
                    <li><a href="{{ modules.appointments.default.list.url }}"><i class="fas fa-unlock-alt"></i> Appointments</a></li>
                    {% endif %}
                    {% if checkAccessControl(modules.users.profile.list) %}
                    <li><a href="{{ modules.users.profile.list.url }}"><i class="fas fa-unlock-alt"></i> Users</a></li>
                    {% endif %}
                    {% if checkAccessControl(modules.pets.profile.list) %}
                    <li><a href="{{ modules.pets.profile.list.url }}"><i class="fas fa-unlock-alt"></i> Pets</a></li>
                    {% endif %}
                </ul>
            </nav>

            <nav id="user_menu">
                <ul class="list clean inline">
                {% if userSession %}
                    <li>Hello <a href="{{ modules.users.profile.show.url ~ userSession.id }}" title="Go to your profile"><strong>{{ userSession.firstName }}</strong></a>!</li>
                    <li><a href="{{ modules.authentication.logout.index.url }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ modules.authentication.sign_up.index.url }}" title="Create an account">Sign up</a></li>
                    <li><a href="{{ modules.authentication.login.index.url }}">Login</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>

        {% block slogan %}{% endblock %}
    </header>

    <div id="body_container">
        <div id="body_content">
        {% block aside %}{% endblock %}
        {% block main %}{% endblock %}
        </div>
    </div>

    <footer id="body_footer">
        © 2018 <span class="logo">acicalado</span>
    </footer>
{% endblock %}