{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block aside %}
    {{ include('Users/Views/aside.html.twig') }}
{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.appointments.default.new, userId) %}
                    <li><a href="{{ modules.appointments.default.new.url ~ userId }}">New appointment</a></li>
                    {% endif %}
                </ul>
            </header>

            {{ include('Appointments/Views/Default/appointment.part.html.twig') }}
        </section>
    </main>
{% endblock %}