<ul class="list clean grid">
    {% for employee in employees %}
        <li>
            <img class="picture" src="{{'/public/uploads/' ~ employee.picture }}" title="After"/>
            Groomer: <a href="{{ modules.users.profile.show.url ~ employee.id }}">{{ employee.firstName }} {{ employee.lastName }}</a><br />
        </li>
    {% endfor %}
</ul>