{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.appointments.default.new) %}
                    <li><a href="{{ modules.appointments.default.new.url }}">New appointment</a></li>
                    {% endif %}
                </ul>
            </header>

            {{ include('Users/Views/Groomers/groomers.part.html.twig') }}
        </section>
    </main>
{% endblock %}