<aside>
    <nav>
        <ul class="list clean block">
            {% if checkAccessControl(modules.users.profile.show, userId) %}
            <li><a href="{{ modules.users.profile.show.url ~ userId }}"><i class="fas fa-user"></i> Profile</a></li>
            {% endif %}
            {% if checkAccessControl(modules.users.pets.list, userId) %}
            <li><a href="{{ modules.users.pets.list.url ~ userId }}"><i class="fas fa-paw"></i> Pets</a></li>
            {% endif %}
            {% if checkAccessControl(modules.users.appointments.list, userId) %}
            <li><a href="{{ modules.users.appointments.list.url ~ userId }}"><i class="fas fa-calendar"></i> Appointments</a></li>
            {% endif %}
        </ul>
    </nav>
</aside>