body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: lightgray;
    color: #333;
    margin: 0;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

header {
    margin-bottom: 10px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px darkgray;
    display: inline-block;
    margin: 5px;
    padding: 20px;
    width: 140px;
}

.card.big {
    width: 240px;
}

.card h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card li {
    display: inline-block;
}

.card table {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.tag {
    display: inline-block;
    border-radius: 5px;
    color: white;
    margin: 1px;
    padding: 4px 8px;
}

.tag.bug {background-color: darkolivegreen}
.tag.dark {background-color: saddlebrown}
.tag.dragon {background-color: rebeccapurple}
.tag.electric {background-color: orange}
.tag.fairy {background-color: hotpink}
.tag.fighting {background-color: darkred}
.tag.fire {background-color: orangered}
.tag.flying {background-color: mediumpurple}
.tag.ghost {background-color: blueviolet}
.tag.grass {background-color: limegreen}
.tag.ground {background-color: burlywood}
.tag.ice {background-color: lightskyblue}
.tag.normal {background-color: olivedrab}
.tag.poison {background-color: mediumvioletred}
.tag.psychic {background-color: deeppink}
.tag.rock {background-color: darkgoldenrod}
.tag.steel {background-color: lightsteelblue}
.tag.water {background-color: royalblue}