<aside>
    <nav>
        <ul class="list clean block">
            {% if checkAccessControl(modules.pets.profile.show) %}
            <li><a href="{{ modules.pets.profile.show.url ~ petId }}"><i class="fas fa-paw"></i> Profile</a></li>
            {% endif %}
            {% if checkAccessControl(modules.pets.gallery.list) %}
            <li><a href="{{ modules.pets.gallery.list.url ~ petId }}"><i class="fas fa-camera"></i> Gallery</a></li>
            {% endif %}
        </ul>
    </nav>
</aside>