<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ headTitle }}</title>
    <link rel="stylesheet/less" type="text/css" href="public/css/styles.less" />
    <script src="public/js/less.min.js"></script>
</head>
<body>
<p class="notification">Schema and data are in Assignment4. Procedures are in Assignment5. Images and fonts are retrieved online.</p>
{% block body %}{% endblock %}
</body>
</html>