{% spaceless %}
    {%  set imageURL = 'https://assets.pokemon.com/assets/cms2/img/pokedex/full/' ~ "%03d"|format(pokemon.national_number) ~ '.png' %}
    <article class="card">
        <div class="image">
            <img src="{{ imageURL }}" alt="{{ pokemon.name }}">
            {% if pokemon.id|in_favorites %}
                <a class="favorite" href="favorite.php?action=remove&id={{ pokemon.id }}" title="Remove from favorites">★</a>
            {% else %}
                <a class="favorite" href="favorite.php?action=add&id={{ pokemon.id }}" title="Add to favorites">☆</a>
            {% endif %}
        </div>

        <header>
            <p>#{{ "%03d"|format(pokemon.national_number) }}</p>
            <h3><a href="detail.php?id={{ pokemon.id }}" title="{{ pokemon.name }}">{{ pokemon.name }}</a></h3>
            <ul>
                {% for type in pokemon.types|json_decode %}
                    <li><a class="tag {{ type|lower }}" href="index.php?type={{ type|lower }}">{{ type }}</a></li>
                {% endfor %}
            </ul>
        </header>

        <section class="stats">
            <p>Health points:<span><span style="width:{{ pokemon.hp|percentage(255) }}%"></span></span></p>
            <p>Attack:<span><span style="width:{{ pokemon.attack|percentage(255) }}%"></span></span></p>
            <p>Special attack:<span><span style="width:{{ pokemon.special_attack|percentage(255) }}%"></span></span></p>
            <p>Defense:<span><span style="width:{{ pokemon.defense|percentage(255) }}%"></span></span></p>
            <p>Special defense:<span><span style="width:{{ pokemon.special_defense|percentage(255) }}%"></span></span></p>
            <p>Speed:<span><span style="width:{{ pokemon.speed|percentage(255) }}%"></span></span></p>
        </section>

        {% if quirks %}
            <section class="quirks">
                <ul>
                    {% for quirk in quirks %}
                        <li>{{ quirk.tag }} <a class="tag {{ quirk.type|lower }}" href="index.php?type={{ quirk.type|lower }}">{{ quirk.type }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {%  endif %}
    </article>
{% endspaceless %}