{% extends "base.html.twig" %}

{% block body %}
    {{ include('header.html.twig') }}

    <section id="main">
        {{ include('sidebar.html.twig') }}
        {{ include('table.html.twig') }}
    </section>
{% endblock %}

