<aside>
    <header class="header">
        <h2>Popular generation 4</h2>
        <p>I don't have idea which are popular</p>
    </header>

    {% for pokemon in popularGen4 %}
        {{ include('card.html.twig') }}
    {% endfor %}
</aside>