<main>
    <section id="favorites">
        <header class="header">
            <h2>Favorites</h2>
        </header>
        {% for pokemon in favorites %}
            {{ include('card.html.twig') }}
        {% endfor %}
    </section>

    <section id="list">
        <header class="header">
            <h2>{{ type ? type|capitalize : 'All' }} Pokémon</h2>
            {% if type %}<a href="index.php">Show all</a>{% endif %}
        </header>
        {% for pokemon in pokemons %}
            {{ include('card.html.twig') }}
        {% endfor %}
    </section>
</main>