{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.users.profile.edit.url  ~ user.id }}" method="post" enctype="multipart/form-data">
                <div class="block">
                    <label for="picture">Picture
                        {% if user.picture %}
                            <a href="{{'/public/uploads/' ~ user.picture }}"><i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                    </label>
                    <input type="file"
                           id="picture"
                           name="picture">
                </div>
                {% if userSession.roleId == constant('ADMIN') %}
                <div class="block">
                    <label for="roleId">Type*</label>
                    <select id="roleId" name="roleId">
                        {% for role in userRoles %}
                            <option value="{{ role.id }}" {% if user.roleId == role.id %} selected{% endif %}>
                                {{ role.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="block">
                    <label for="first_name">First name*</label>
                    <input type="text"
                           id="first_name"
                           name="firstName"
                           minlength="2"
                           maxlength="30"
                           value="{{ user.firstName }}"
                           required>
                </div>
                <div class="block">
                    <label for="last_name">Last name</label>
                    <input type="text"
                           id="last_name"
                           name="lastName"
                           minlength="2"
                           maxlength="30"
                           value="{{ user.lastName }}">
                </div>
                <div class="block">
                    <label for="email">Email*</label>
                    <input type="email"
                           id="email"
                           name="email"
                           minlength="3"
                           maxlength="254"
                           value="{{ user.email }}"
                           required>
                </div>
                <div class="block">
                    <label for="birth_at">Birth at</label>
                    <input type="date"
                           id="birth_at"
                           name="birthAt"
                           value="{{ user.birthAt }}">
                </div>
                <div class="block">
                    <label for="country">Country</label>
                    <span class="error">In Chrome, the options box doesn't resize its size after an AJAX call. Only after closing the options box and opening it again, will display the full list.</span>
                    <select id="country" name="countryId">
                        {% if user.countryId %}
                        <option value="{{ user.countryId }}" selected>{{ user.countryName }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="block">
                    <label for="state">State</label>
                    <select id="state" name="stateId" {% if not user.countryId %}disabled="disabled"{% endif %}>
                        {% if user.stateId %}
                        <option value="{{ user.stateId }}" selected>{{ user.stateName }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="block">
                    <label for="city">City</label>
                    <select id="city" name="cityId" {% if not user.stateId %}disabled="disabled"{% endif %}>
                        {% if user.cityId %}
                        <option value="{{ user.cityId }}">{{ user.cityName }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="block">
                    <label for="address">Address</label>
                    <input type="text"
                           id="address"
                           name="address"
                           value="{{ user.address }}">
                </div>

                <button type="submit" class="main">Update</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <li><a href="{{ modules.users.profile.show.url ~ user.id }}">Cancel</a></li>
                    <li><a class="deleteAction" href="{{ modules.users.profile.delete.url ~ user.id }}">Delete profile</a></li>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}