{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>

                <nav>
                    <ul class="list clean inline">
                        {% if checkAccessControl(modules.users.profile.new) %}
                        <li><a href="{{ modules.users.profile.new.url }}">New user</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <table>
                <thead>
                    <tr>
                        <th>Full name</th>
                        <th>Role</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ modules.users.profile.show.url ~ user.id }}">{{ user.firstName }} {{ user.lastName }}</a></td>
                            <td>{{ user.roleName }}</td>
                            <td>
                                <ul class="list clean inline">
                                    {% if checkAccessControl(modules.users.profile.edit) %}
                                    <li><a href="{{ modules.users.profile.edit.url ~ user.id }}">Edit</a></li>
                                    {% endif %}
                                    {% if checkAccessControl(modules.users.profile.delete) %}
                                    <li><a class="deleteAction" href="{{ modules.users.profile.delete.url ~ user.id }}">Delete</a></li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}