{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.users.profile.new.url }}" method="post">
                <div class="block">
                    <label for="roleId">Type*</label>
                    <select id="roleId" name="roleId">
                        {% for role in userRoles %}
                            <option value="{{ role.id }}" {% if role.id == constant('EMPLOYEE') %}selected{% endif %}>
                                {{ role.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="block">
                    <label for="first_name">First name*</label>
                    <input type="text"
                           id="first_name"
                           name="firstName"
                           minlength="2"
                           maxlength="30"
                           value="{{ user.firstName }}"
                           required>
                </div>
                <div class="block">
                    <label for="last_name">Last name</label>
                    <input type="text"
                           id="last_name"
                           name="lastName"
                           minlength="2"
                           maxlength="30"
                           value="{{ user.lastName }}">
                </div>
                <div class="block">
                    <label for="email">Email*</label>
                    <input type="email"
                           id="email"
                           name="email"
                           minlength="3"
                           maxlength="254"
                           value="{{ user.email }}"
                           required>
                </div>
                <div class="block">
                    <label for="password">Password*</label>
                    <input type="password"
                           id="password"
                           name="password"
                           minlength="4"
                           maxlength="30"
                           required>
                </div>
                <button type="submit" class="main">Create user</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <li><a href="{{ modules.users.profile.list.url }}">Cancel</a></li>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}