{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block aside %}
    {{ include('Users/Views/aside.html.twig') }}
{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.users.profile.edit, userId) %}
                    <li><a href="{{ modules.users.profile.edit.url ~ user.id }}">Edit profile</a></li>
                    {% endif %}
                </ul>
            </header>

            <table>
                <tbody>
                    <tr>
                        <th>Picture:</th>
                        <td>
                            {% if user.picture %}
                                <img class="picture" src="{{'/public/uploads/' ~ user.picture }}"/>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>ID:</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Role:</th>
                        <td>{{ user.roleName }}</td>
                    </tr>
                    <tr>
                        <th>First name:</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Last name:</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Birth at:</th>
                        <td>{{ user.birthAt }}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td>{{ user.countryName }}</td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>{{ user.stateName }}</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td>{{ user.cityName }}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{ user.address }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}