{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>{{ title }}</h2>
            </header>

            <form class="full" action="{{ modules.authentication.sign_up.index.url }}" method="post">
                <div class="block">
                    <label for="first_name">First name*</label>
                    <input type="text"
                           id="first_name"
                           name="firstName"
                           minlength="2"
                           maxlength="30"
                           value="{{ user.firstName }}"
                           required>
                </div>
                <div class="block">
                    <label for="last_name">Last name</label>
                    <input type="text"
                           id="last_name"
                           name="lastName"
                           minlength="2"
                           maxlength="30"
                           value="{{ user.lastName }}">
                </div>
                <div class="block">
                    <label for="email">Email*</label>
                    <input type="email"
                           id="email"
                           name="email"
                           minlength="3"
                           maxlength="254"
                           value="{{ user.email }}"
                           required>
                </div>
                <div class="block">
                    <label for="password">Password*</label>
                    <input type="password"
                           id="password"
                           name="password"
                           minlength="4"
                           maxlength="30"
                           required>
                </div>

                <button type="submit" class="main">Sign up</button>
            </form>

            <footer>
                <ul class="list clean block">
                    <a href="{{ modules.authentication.login.index.url }}">Already registered?</a>
                </ul>
            </footer>
        </section>
    </main>
{% endblock %}