{% extends "front.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block slogan %}
    <p id="slogan">We l<span>❤</span>ve working with animals!</p>
{% endblock %}

{% block main %}
    <main>
        <section>
            <header>
                <h2>Gallery</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.appointments.gallery.list) %}
                    <li><a href="{{ modules.appointments.gallery.list.url }}" title="Take a look to our work!">See all</a></li>
                    {% endif %}
                </ul>
            </header>

            {{ include('Appointments/Views/Gallery/gallery.part.html.twig') }}
        </section>

        <section>
            <header>
                <h2>Groomers</h2>

                <ul class="list clean inline">
                    {% if checkAccessControl(modules.users.groomers.list) %}
                    <li><a href="{{ modules.users.groomers.list.url }}" title="Get to know us!">See all</a></li>
                    {% endif %}
                </ul>
            </header>

            {{ include('Users/Views/Groomers/groomers.part.html.twig') }}
        </section>
    </main>
{% endblock %}