<ul class="list clean grid">
    {% for appointment in appointments %}
        <li>
            <span class="slideshow">
                <img class="after" src="{{'/public/uploads/' ~ appointment.pictureAfter }}" title="After"/>
                <img class="before" src="{{'/public/uploads/' ~ appointment.pictureBefore }}" title="Before"/>
            </span>
            Pet: <a href="{{ modules.pets.profile.show.url ~ appointment.petId }}">{{ appointment.petName }}</a><br />
            Groomer: <a href="{{ modules.users.profile.show.url ~ appointment.employeeId }}">{{ appointment.employeeName }}</a><br />
            Date: {{ appointment.datetime|date("F d, Y") }}
        </li>
    {% endfor %}
</ul>