@layout-width: 830px;
@layout-switch: 814px;
@base-font: monospace;
@title-font: sans-serif;
@color_0: purple;
@color_0_light_0: lighten(@color_0, 10%);
@color_0_light_1: lighten(@color_0, 20%);
@color_0_light_2: lighten(@color_0, 50%);
@color_0_dark_0: darken(@color_0, 10%);
@color_0_dark_1: darken(@color_0, 15%);
@color_1: black;
@color_2: red;
@color_3: cyan;
@color_4: blue;
@color_5: green;

.generate-bars(@n, @property, @bgColor, @i: 1) when (@i =< @n) {
  .bar@{i} {

    &when(@i = 1) {
      @{property}: 70%;
    }
    &when(@i = 2) {
        @{property}: 60%;
    }
    &when(@i = 3) {
        @{property}: 100%;
    }
    &when(@i = 4) {
        @{property}: 50%;
    }

    background-color: @bgColor;
  }
  .generate-bars(@n, @property, @bgColor, (@i + 1));
}

#forcing-a-mixin {
  font-family: @title-font;
}




/* Common layout */
body {
  margin: 0;
  font-family: @base-font;
  color: @color_1;
}

h2 {
  #forcing-a-mixin
}

.title {
  text-align: center;
  font-size: 2.5em;
  background-image: linear-gradient(to right, @color_0, @color_0_light_2);
  #forcing-a-mixin
}

.top {
  .item {
    color: white;
    background-color: @color_0;
  }

  .item:nth-child(2n) {
    background-color: @color_0_light_0;
  }

  .item:hover {
    background-color: @color_0_light_2;
  }
}

.container {
  background-color: @color_0;

  .bargraph {
    display: grid;
  }

  .sidebar {
    padding: 25px;

    .item {
      .subItem {
        display: none;
        padding-left: 25px;
      }

      .subItem:hover {
        color: @color_2;
      }
    }

    .item:hover {
      font-weight: bold;
    }

    .item:hover .subItem {
      display: inherit;
    }
  }

  .flexbottom {
    display: flex;
    flex-wrap: wrap;
    background-color: @color_0_light_1;

    h2 {
      flex-basis: 100%;
    }

    .mon {
      margin: 1px;
      padding: 3px;
      border: 1px solid #000000;
      border-radius: 10px;
    }

    .mon div:first-child {
      font-weight: bold;
    }
  }
}




/* Narrow layout */
@media screen and (max-width: @layout-switch) {

  .top {
    &.menu {
      background-color: @color_0;
    }
  }

  .container {
    .bargraph {
      grid-auto-rows: 15px;
      grid-row-gap: 15px;
      padding: 40px 100px 40px 0;

      .generate-bars(4, width, @color_2);
    }

    .sidebar {
      display: none;
    }
    
    .flexbottom {
      flex-basis: 100%;

      .mon {
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
        background-image: radial-gradient(@color_0, @color_0_dark_1);
      }

      .mon div {
        color: @color_3;
      }

      .mon div:first-child {
        color: @color_4;
      }
    }
  }
}




/* Wide layout */
@media screen and (min-width: @layout-switch) {

  body {
    width: @layout-width;
  }

  .top {
    &.menu {
      display: flex;
      justify-content: space-around;
      margin: 0 80px;
      border-radius: 10px;
      background-color: @color_0_dark_0;
    }

    .item:nth-child(3n) {
      background-color: @color_0_light_1;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 200px auto;
    border-radius: 25px 0 0 25px;

    .bargraph {
      order: 1;
      grid-template-columns: repeat(4, auto);
      grid-column-gap: 60px;
      align-items: end;
      height: 150px;
      padding: 10px 100px 0;

      .generate-bars(4, height, @color_5);
    }

    .sidebar {
      order: 0;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .flexbottom {
      order: 2;

      .mon {
        flex-basis: 100px;
        background-image: linear-gradient(to right, @color_0, @color_0_dark_1);
      }
    }
  }
}