@transition-duration: 1;
@accent-color: darkslateblue;
@background-color: lightskyblue;

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

nav  {
  background-color: @background-color;
  color: darkslateblue;
  position: relative;
  text-align: center;

  #menuButton {
    background-color: @accent-color;
    color: white;
    cursor: default;
    left: 0;
    margin: 0;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    transform: rotate(0);
    transform-origin: left;
    transition-property: transform;
    transition-duration: unit(@transition-duration, s);
    z-index: 100;

    &.aiming {
      transform: rotate(-30deg);

      #cannonBall {
        left: 80px !important;
      }
    }

    #cannonBall {
      background-color: @accent-color;
      border-radius: 20px;
      height: 20px;
      position: absolute;
      width: 20px;
      left: 70px;
      top: 8px;
      transition-property: left;
      transition-duration: unit(@transition-duration, s);
      z-index: -100;
    }
  }

  #menu {
    height: 36px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    transition-property: width;
    transition-duration: unit(@transition-duration, s);
    width: 0%;

    li {
      display: inline-block;
      padding: 10px 30px;
      position: absolute;

      a {
        color: @background-color;
        cursor: default;
        text-decoration: none;
        transition-property: color;
        transition-duration: unit(@transition-duration, s);
      }
    }

    &.unfold {
      width: 100%;

      li {
        position: inherit;

        a {
          color: @accent-color;
        }
      }
    }
  }
}
