@font-face {
  font-family: 'Open Sans';
  src: url('../webfonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Happy Monkey';
  src: url('../webfonts/HappyMonkey-Regular.ttf');
}

/*
 * Definitions
 */
@corporate_font-family: 'Happy Monkey', sans-serif;
@corporate_font-color: #5db300;
@base_font-family: 'Open Sans', sans-serif;
@base_font-size: 14;
@base_font-color: #505254;
@base-light_font-color: #bbbbbb;
@base-background-color: #ebedef;
@base_gap-size: 20;
@content-background-color: #ffffff;
@nav_font-size: 16;
@gallery_picture_size: 300;
@max_width: 1280;
@min_width: 400;



/*
 * Common rules
 */
body {
  margin: 0;
  font-family: @base_font-family;
  font-size: unit(@base_font-size, px);
  color: @base_font-color;
  background-color: @base-background-color;
}

a {
  color: @corporate_font-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin: 0;
}

footer {
  text-align: center;
}

table {
  border-spacing: 0;
  font-size: @base_font-size;
  width: 100%;

  tr {
    text-align: left;

    &:hover {
      background-color: @base-background-color;
    }

    th, td {
      border-bottom: 1px dotted @base-background-color;
      padding: 10px 5px;
    }
  }
}

/*
 *
 */
#body_header {
  background-image: url("../images/home_header_bg.jpg");
  background-position: top center;
  background-size: cover;
  color: #ffffff;
  padding: unit(@base_gap-size, px);

  div {
    align-items: center;
    display: grid;
    grid-gap: unit(@base_gap-size, px);
    grid-template-columns: max-content auto auto;
    max-width: unit(@max_width, px);
    margin: 0 auto;

    .logo {
      font-size: 30px;
    }

    #app_menu {
    }

    #user_menu {
      text-align: right;
    }
  }

  a {
    color: @content-background-color;
  }
}

#body_container {
  background-color: @content-background-color;
  padding: unit(@base_gap-size, px);

  #body_content {
    max-width: unit(@max_width, px);
    margin: 0 auto;

    header {
      margin-bottom: 20px;

      h2 {
        font-size: 28px;
      }
    }

    aside {
      .list {
        li {
          padding: 10px 0;
        }
      }
    }

    section {
      margin-bottom: 20px;
    }

    footer {
      margin-top: unit(@base_gap-size, px);
    }
  }
}

#body_footer {
  color: @base-light_font-color;
  padding: unit(@base_gap-size, px);
}





/*
 * FORM ELEMENTS
 */
button, .button {
  background-color: #cccccc; //.2 #cccccc
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px #b2b2b2; //.3 #b2b2b2
  color: @base_font-color;
  cursor: default;
  display: inline-block;
  font-family: @base_font-family;
  font-size: unit(@base_font-size, px);
  outline: none;
  padding: 10px 16px;
  position: relative;

  &.main {
    font-weight: bold;
  }

  &:hover, &:focus {
    background-color: #e5e5e5; //.1
    box-shadow: 0 3px #cccccc; //.2
    text-decoration: none;
  }

  &:disabled, &.disabled {
    background-color: #e5e5e5; //.1
    box-shadow: none;
    color: @base-light_font-color; //.2
    cursor: not-allowed;
    top: 3px;
  }

  &:active, &.active {
    background-color: #e5e5e5; //.1
    box-shadow: none;
    top: 3px;
  }
}

form {

  &.full {
    input, button, select {
      width: 100%;
    }
  }

  .block {
    margin-bottom: unit(@base_gap-size, px);

    label {
      display: block;
    }
  }

  input, select {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 1px @base_font-color;
    color: @base_font-color;
    outline: none;
    padding: 12px 0;

    &::placeholder {
      color: @base_font-color;
    }

    &:disabled, &.disabled {
      background-color: #e5e5e5; //.1
      box-shadow: none;
      color: @base-light_font-color; //.2

      &::placeholder {
        color: @base-light_font-color;
      }
    }
  }
}





/*
 * Custom pages
 */
#users_profile_show, #users_pets_list, #users_appointments_list, #pets_profile_show, #pets_gallery_list {

  #body_content {
    display: grid;
    grid-gap: unit(@base_gap-size, px);
    grid-template-columns: 200px auto;
  }
}

#login, #sign_up {

  #body_header {
    background: @content-background-color;

    a {
      color: @corporate_font-color;
    }

    .logo > span span {
      background-color: @corporate_font-color;
    }
  }

  #body_container {
    border-radius: 10px;
    padding: 40px;
    width: unit(@min_width, px);
    margin: unit(@base_gap-size, px) auto 0 auto;
  }
}

#error {
  text-align: center;

  #body_header {
    background: none;
  }

  main {
    background: none;

    h2 {
      font-size: 50px;
    }
  }
}

#home {
  .grid {
    overflow: auto;
    white-space: nowrap;
  }
}






.error {
  background-color: palevioletred;
  color: #ffffff;
}


.toast {
  padding: 10px;

  &.message {
    background-color: lightblue;
  }
}

//LOGO
.logo {
  margin: 0;
  font-family: @corporate_font-family;
  letter-spacing: -0.03em;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }

  > span {
    position: relative;

    span {
      position: absolute;
      width: 4px;
      height: 7px;
      border-radius: 100%;
      background-color: #ffffff;
    }

    span:nth-child(1) {
      top: 12px;
      left: -6px;
      transform: rotate(-60deg);
    }

    span:nth-child(2) {
      top: 7px;
      left: -3px;
      transform: rotate(-40deg);
    }

    span:nth-child(3) {
      top: 4px;
      left: 2px;
      transform: rotate(-20deg);
    }

    span:nth-child(4) {
      top: 4px;
      left: 7px;
      transform: rotate(0deg);
    }
  }
}

/*
 *
 */
.list {

  &.clean {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.inline {
    li {
      display: inline-block;
      margin-right: unit(@base_gap-size, px);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.block {
    li {
      display: block;
    }
  }

  &.grid {
    margin-right: unit(-@base_gap-size, px);
    margin-bottom: unit(-@base_gap-size, px);

    li {
      display: inline-block;
      margin-right: unit(@base_gap-size, px);
      margin-bottom: unit(@base_gap-size, px);

      img {
        display: block;
        height: 300px;
        margin-bottom: 5px;
        object-fit: cover;
        width: 300px;
      }

      .slideshow {
        background-color: @base-light_font-color;
        display: block;
        height: unit(@gallery_picture_size, px);
        margin-bottom: 5px;
        overflow: hidden;
        width: unit(@gallery_picture_size, px);


        img {
          height: 100%;
          margin: 0 auto;
          transition-property: margin-top;
          transition-duration: 250ms;
          width: 100%;
        }

        &:hover {
          img {
            &.after {
              margin-top: unit(-@gallery_picture_size, px);
            }
          }
        }
      }
    }
  }
}

#slogan {
  font-family: @corporate_font-family;
  font-size: 80px;
  font-weight: bold;
  margin: 100px auto;
  text-align: center;
  max-width: 800px;

  span {
    color: @corporate_font-color;
  }
}

#modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;

  div {
    background: @content-background-color;
    border-radius: 10px;
    width: 400px;
    margin: unit(@base_gap-size, px) auto 0 auto;
    padding: 40px;

    h2 {
      font-size: 28px;
    }

    img {
      width:100%;
    }
  }
}

#passwordStrengthMeter {
  background-color: @base-background-color;

  span {
    display: block;
    background-color: @corporate_font-color;
    width: 0;
    height: 10px;
  }
}

.picture {
  height: 100px;
  object-fit: cover;
  width: 100px;
}